body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #399918;
}

.container {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #ECFFE6;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

h1 {
  text-align: center;
  color: #1A5319;
  text-shadow: 0.5px 1.5px #508D4E;
}

.btn {
  background-color: #399918;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: block;
  margin: 0 auto; 
  font-size: 0.9rem; 
  width: 150px; 
}

.btn:hover {
  background-color: #508D4E;
}

.filter-sort-container {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  flex-wrap: wrap;
  color: #399918;
}

.filter,
.sort {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

label {
  margin-right: 10px;
  font-weight: bold;
}

.category-buttons {
  display: flex;
  justify-content: center; 
  gap: 15px; 
  margin: 10px 0; 
  flex-wrap: wrap; 
}

.category-btn {
  background-color: #f9f9f9;
  color: #508D4E;
  border: 1px solid #ccc;
  border-radius: 8px; 
  padding: 12px 20px; 
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  font-size: 1rem; 
  min-width: 100px; 
  text-align: center; 
}

.category-btn:hover {
  background-color: #399918;
  color: white;
}

.category-btn.active {
  background-color: #399918;
  color: white;
  border-color: #399918;
}

select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  transition: border-color 0.3s ease;
}

select:focus {
  border-color: #405d72;
  outline: none;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
  margin-top: 20px;
}

.product-item {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  position: relative;
}
.product-image-container {
  position: relative; 
}
.product-item img {
  max-width: 100px;
  height: auto;
  filter: drop-shadow(0 0 0.75rem #508D4E);
}

.product-name {
  font-size: 1.5em;
  display: block;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.product-name.hide {
  opacity: 0;
  transform: translateY(-10px);
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.edit-btn,
.remove-btn {
  padding: 5px 10px;
  margin: 5px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.edit-btn {
  background-color: #254336;
  color: white;
}

.edit-btn:hover {
  background: #3d5a4b;
}

.remove-btn {
  background-color: #c0392b;
  color: white;
}

.remove-btn:hover {
  background: #e74c3c;
}

.product-item:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7); 
}

.modal-content {
  background-color: #ECFFE6;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 90%;
  max-width: 500px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  position: relative; 
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.product-form {
  display: flex;
  flex-direction: column;
}

.product-form input,
.product-form select {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.product-form input[type="file"] {
  padding: 5px;
}

.product-details {
  font-family: Arial, sans-serif; 
  font-size: 14px; 
  color: #333; 
  text-align: center;
}

.product-info {
  margin: 10px 0;
}

.product-brand {
  font-size: 0.8em;
  color: #333;
}
.product-brand,
.product-price,
.product-weight,
.product-quantity,
.product-store,
.product-category {
  font-size: 0.8em;
}

.product-checkbox {
  position: absolute;
  top: 10px;
  right: 10px;
  transform: scale(1.5);
  cursor: pointer;
}

.product-item.x-border {
  border: 2px solid red;
  position: relative;
}

.product-item.x-border::before,
.product-item.x-border::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  transition: transform 0.5s ease;
}

.product-item.x-border::before {
  transform: rotate(45deg);
}

.product-item.x-border::after {
  transform: rotate(-45deg);
}

@media (max-width: 600px) {
  .filter-sort-container {
      flex-direction: column;
      align-items: flex-start;
  }

  .filter,
  .sort {
      width: 100%;
      justify-content: flex-start;
  }

  label {
      margin-bottom: 5px;
  }

  select {
      width: 100%;
  }

  .product-list {
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
      
  }

  .product-item {
      margin: 5px;
  }

  .btn {
    padding: 6px 10px; /* Smaller padding on smaller screens */
    font-size: 0.8rem; /* Smaller font size */
    width: 120px;
    margin-top: 25px;
}

  h1 {
      font-size: 1.5em;
  }

  .product-name {
      font-size: 1.2em;
  }

  .product-form input,
  .product-form select {
      font-size: 0.9em;
  }
}
.modal-content {
  max-width: 75%; 
  padding: 5px; 
}

@media (max-width: 480px) {
  .btn {
      padding: 8px 12px;
  }

  .product-name {
      font-size: 1.1em;
  }

  .product-item {
      margin: 3px;
  }
}
.modal-content {
  max-width: 75%; 
  padding: 5px; 
}

@media (max-width: 430px) {
  .container {
      padding: 15px;
  }

  h1 {
      font-size: 1.3em;
  }

  .product-name {
      font-size: 1em;
  }

  .btn {
      font-size: 0.9em;
  }

  .product-item {
      margin: 2px;
  }
}
.modal-content {
  max-height: 100%;
  max-width: 65%; 
  padding: 15px; 
}

@media (max-width: 320px) {
  body {
      padding: 10px;
  }

  .container {
      padding: 10px;
  }

  h1 {
      font-size: 1.2em;
  }

  .product-name {
      font-size: 0.9em;
  }

  .btn {
      font-size: 0.8em;
      padding: 8px;
  }

  .filter-sort-container {
      flex-direction: column;
      align-items: flex-start;
  }

  select {
      width: 100%;
  }

  .product-list {
      grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  }

  .product-item {
      margin: 1px;
  }
}

#logout-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 50%;
  color: #1A5319;
  font-size: 1.5rem;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

#logout-btn:hover {
  color: #758694;
}

.product-category {
  font-weight: bold;
  font-size: 1rem;
}

#deleteAllBtn {
  display: none;
  margin-left: 0px;
  background-color: #c0392b;
}
#deleteAllBtn:hover {
  background: #e45e4f;
}
.product-item.folded {
  border: 2px solid red;
  transform: scale(0.87);
  transition: transform 0.3s ease;
}

.product-item.fade-out {
  animation: fadeOut 0.5s forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.product-item.editing {
  animation: editAnimation 0.1s forwards;
}

@keyframes editAnimation {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.05);
  }
}
@media (max-width: 600px) {
  .category-btn {
      flex: 1 1 45%; 
      margin: 5px; 
      font-size: 0.9rem; 
  }
}

@media (max-width: 400px) {
  .category-btn {
      flex: 1 1 100%; 
      margin: 5px 0; 
      font-size: 0.8rem; 
  }
}

#sortOptions {
    background-color: #f9f9f9;
    color: #405d72;
    border: 1px solid #ccc;
    border-radius: 8px; 
    padding: 12px 20px; 
    cursor: pointer;
    font-size: 1rem; 
    min-width: 150px; 
    margin-left: 15px; 
}

@media (max-width: 600px) {
    #sortOptions {
        flex: 1 1 45%; 
        margin: 5px; 
        font-size: 0.9rem; 
    }
}

@media (max-width: 400px) {
    #sortOptions {
        flex: 1 1 100%; 
        margin: 5px 0; 
        font-size: 0.8rem; 
    }
}
.search-container {
  display: flex;
  align-items: center;
  margin: 20px 0;
  justify-content: flex-start;
  position: relative; 
}

.search-icon {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: #1A5319;
  transition: color 0.3s ease;
  margin-right: 10px;
}

.search-input {
  display: none; 
  width: 100%; 
  max-width: 400px; 
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  color: #1A5319;
  background-color: #ECFFE6;
  transition: border-color 0.3s ease;
}

.search-input.visible {
  display: block; 
}

.search-input:focus {
  border-color: #1A5319;
  outline: none;
}

@media (max-width: 600px) {
  .search-icon {
    font-size: 1.2rem; 
  }

  .search-input {
    max-width: 100%; 
    padding: 8px; 
    font-size: 0.9rem; 
  }
}
.product-image-container {
  position: relative; 
}
@keyframes favoriteAnimation {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(1);
      color: #FF4081; 
  }
  50% {
      transform: scale(1);
      color: #FFFFFF; 
  }
}

.heart-icon.favorited {
  animation: favoriteAnimation 0.5s forwards; 
}

.heart-icon {
  position: absolute;
  top: 0px; 
  left: 10px; 
  font-size: 24px; 
  color: white; 
  z-index: 10; 
  text-shadow: 2px 2px 10px rgba(32, 31, 31, 0.5); 
}
.heart-icon:hover {
  cursor: pointer;
}