@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --color: #405d72;
  --light-color: #666;
  --box-shadow: 0 0.1rem 1rem rgba(0, 0, 0.1);
  --border: 2rem solid rgba(0, 0, 0.1);
  --outline: 0.1rem solid rgba(0, 0, 0.1);
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}

body {
  background: var(--color);
}

.header {
  border: 0px solid black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 9%;
  background: #f7e7dc;
  box-shadow: var(--box-shadow);
  z-index: 1000;
}

.header .logo {
  color: var(--color);
  font-size: 2.5rem;
  font-weight: bolder;
}

.header .logo i {
  margin-right: 5px;
  color: var(--color);
}

.header .navbar {
  display: flex;
}

.header .navbar a {
  font-weight: 650;
  font-size: 2rem;
  margin: 0 2.5rem;
  color: var(--color);
  text-shadow: 0.5px 1.5px #758694;
}

.header .navbar a:hover {
  color: var(--light-color);
}

.header .icons {
  display: flex;
}

.header .icons div {
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  font-size: 2rem;
  margin-right: 0.3rem;
  text-align: center;
  cursor: pointer;
  color: var(--color);
}

.header .icons div:hover {
  color: var(--light-color);
}

img {
  width: 100%;
  height: auto;
  margin-top: 4rem;
}

@media (max-width: 768px) {
  .header {
    padding: 1rem 5%;
  }

  .header .logo {
    font-size: 2rem;
  }

  .header .navbar a {
    font-size: 1.8rem;
    margin: 0 1rem;
  }

  .header .icons div {
    height: 4rem;
    width: 4rem;
    font-size: 1.8rem;
  }
}

@media (max-width: 480px) {
  .header {
    padding: 0.5rem 2%;
  }

  .header .logo {
    font-size: 1.8rem;
  }

  .header .navbar a {
    font-size: 1.6rem;
  }

  .header .icons div {
    height: 3.5rem;
    width: 3.5rem;
    font-size: 1.6rem;
  }
}

@media (max-width: 320px) {
  .header {
    padding: 0.5rem 1%;
  }

  .header .logo {
    font-size: 1rem;
  }

  .header .navbar a {
    font-size: 1rem;
  }

  .header .icons div {
    height: 3rem;
    width: 3rem;
    font-size: 1rem;
  }
}